1 VERSIONINFO
 FILEVERSION 12,0,0,0
 PRODUCTVERSION 12,0,0,0
 FILEOS 0x40004
 FILETYPE 0x1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904B0"
  {
   VALUE "CompanyName", "ET"
   VALUE "FileDescription", "ETC WindowBuilder Professional"
   VALUE "FileVersion", "12.0"
   VALUE "InternalName", "ETC-WindowBuilder"
   VALUE "LegalCopyright", "Copyright (c) ET 2024-2026"
   VALUE "OriginalFilename", "ETC-WindowBuilder.exe"
   VALUE "ProductName", "ETC WindowBuilder"
   VALUE "ProductVersion", "12.0"
   VALUE "Comments", "Developer: ET / ET Studio"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1200
 }
}
2 ICON "../assets/app.ico"
