1 VERSIONINFO
 FILEVERSION 12,1,0,0
 PRODUCTVERSION 12,1,0,0
 FILEOS 0x40004
 FILETYPE 0x1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904B0"
  {
   VALUE "CompanyName", "ETC"
   VALUE "FileDescription", "ETC WindowBuilder Professional"
   VALUE "FileVersion", "12.1"
   VALUE "InternalName", "ETC-WindowBuilder"
   VALUE "LegalCopyright", "Copyright (c) ETC 2024-2026"
   VALUE "OriginalFilename", "ETC-WindowBuilder.exe"
   VALUE "ProductName", "ETC WindowBuilder"
   VALUE "ProductVersion", "12.1"
   VALUE "Comments", "Developer: ETC / ETC Studio"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1200
 }
}
#define IDI_APPICON 100
IDI_APPICON ICON "../assets/app.ico"
